.carrossel__titulo {
    color: var(--quinta-cor);
    background-color: var(--cor-secundaria);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--fonte-primaria);
    padding: 1em 0 0.5em 0;
    margin-top: auto; 
    align-self: flex-end;
    margin-bottom: 0;
}

.carousel {
    position: relative;
    display: flex;
}
    .slides {
      position: relative;
      top: -4em;
      left: 10em;
} 
      .slides img {
        position: absolute;
        width:300px;
        height:450px;
        opacity: 0;
        z-index: 9999;
      }  
        .active {
          opacity: 1;
        }


    .overlays {
      position: relative;
      width: 36em;
      height: 18em;
    }
      .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--bar-color);
        transform-origin: left;
      }
  
    .nav-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0 0 0 6em;
      list-style-type: none;
    }
      .nav-link {
        font-size: 2rem;
        font-family: Lora, serif;
        line-height: 2;
        text-decoration: none;
        color: #7f8c8d;
        transition: 0.3s;
      }
        &:hover {
          color: #1c1e1f;
        }
  
        &.active {
          color: black;
          pointer-events: none;
        }

        @media screen and (max-width: 576px) {
          .carrossel__titulo {
            font-size: 16px; 
          }
        
          .carousel {
            flex-direction: column; 
          }
        
          .slides {
            position: relative;
            top: 0;
            left: 0;
          }
        
          .slides img {
            display: none;
          }
        
          .overlays {
            width: 100%; 
            height: auto; 
          }
        
          .nav-links {
            padding: 0; 
            text-align: center; 
          }
        }