body{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--cor-primaria);
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr; 
  align-items: center;
  gap: 0;
  margin-top: -150px;
}

.home-text h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2px;
}

.home-text h5 { 
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 60px;
}

.home-text h3 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.home-image {
  max-width: 100%;
  width: 28rem;
  height: auto;
  margin-left: 25%;
}

.btn{
  display: inline-block;
  padding: 15px 70px;
  font-size: 16px;
  font-weight: 500;
  background: transparent;
  border: solid 2px var(--cor-terciaria);
  transition: all 0.5 ease;
  color: aliceblue;
  text-decoration: none;

}

.btn:hover{
  background: coral;
  border: 2px solid #523458;
  color: #000;
}

@media screen and (max-width: 576px) {
  .home {
    grid-template-columns: 1fr; /* Uma única coluna em telas pequenas */
    margin-top: 0; /* Remova a margem superior negativa */
  }

  .home-text {
    text-align: center; /* Centralize o texto */
  }

  .home-text h1 {
    font-size: 3rem; /* Reduza o tamanho da fonte do título */
  }

  .home-text h5 {
    font-size: 12px; /* Reduza o tamanho da fonte do subtítulo */
    margin-bottom: 30px; /* Reduza a margem inferior */
  }

  .home-image {
    max-width: 100%; /* Garanta que a imagem se ajuste à largura da tela */
    width: auto;
    margin: 0 auto; /* Centralize a imagem */
  }

  .btn {
    padding: 10px 40px; /* Reduza o tamanho do botão */
    font-size: 14px; /* Reduza o tamanho da fonte do botão */
  }
}

/* Estilos para telas médias (de 577px a 992px de largura) */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Adicione estilos específicos para telas médias aqui, se necessário */
}