
.vestido {
  position: relative;
  height: 100vh;
  width: 100%;
  display: inline;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  gap: 0;
  margin-top: -150px;
}
.titulo1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
  color: var(--sexta-cor);
}
.carousel-control-prev {
  color: var(--setima-cor);
}
.carousel-control-next {
  color: var(--setima-cor);
}

.vestido-imagem {
  height: 500px;
}
.carousel-inner {
  text-align: center;
}
.carousel-vestidos {
  text-align: center;
}

.carousel-caption h5 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.804); /* Sombra no texto do h5 */
  color: var(--quinta-cor);
}

.carousel-caption p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.804); /* Sombra no texto do p */
  color: var(--quinta-cor);
}
.titulo {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  color: var(--sexta-cor);
}
.bolsa-imagem {
  height: 500px;
}
.sapato-imagem {
  height: 500px;
}
