:root {
  --cor-primaria: #bcaf8c;
  --cor-secundaria: #283b5e;
  --cor-terciaria: #4d899f;
  --quarta-cor: #c4bf9b;
  --quinta-cor: #ffffff;
  --sexta-cor: #3f697a;
  --setima-cor: #000000;

  --fonte-primaria: "Cinzel";
  --fonte-secundaria: "Playfair Display";
}

.dark-mode:root {
  --cor-primaria: #222226;
  --cor-secundaria: #191970;
  --cor-terciaria: #222226;
  --quarta-cor: #ff007f;
  --quinta-cor: #ffffff;
  --sexta-cor: #ff007f;
  --setima-cor: #fcfcfc;
}
