:root{
    --cor-primaria:#BCAF8C;
    --cor-secundaria:#283B5E;
    --cor-terciaria:#4D899F;
    --quarta-cor:#C4BF9B;
    --quinta-cor:#FFFFFF;
    --sexta-cor:#3F697A;
    --setima-cor:#000000;
    --oitava-cor: #FF6B6B;
    --decima-cor: #DAA520;

    
}