.main1 {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-primaria);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.containers .card {
  width: 100%;
  max-width: 300px;
  height: 200px;
  align-items: center;
  background-color: var(--cor-primaria);
}

.containers .card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--cor-primaria);
}
.containers .card .icon .img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containers .card .slide1 {
  width: 210px;
  height: 110px;
  transition: 0.5s;
}
.containers .card .slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
  transform: translateY(100px);
}

.containers .card .slide1,
.container .card .slide2 {
  width: 100%;
  border-radius: 10px;
}

.containers .card:hover .slide1 {
  transform: translateY(-10px);
  padding: 100px;
}
.containers .card .slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  transition: 0.5s;
  transform: translateY(-10px);

  background-color: var(--quinta-cor);
}
.containers .card:hover .slide2 {
  transform: translateY(0);
  box-shadow: 0 20px 100px var(--setima-cor);
  height: 110%;
}
.containers .card .slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--sexta-cor);
}
.containers .card .slide2 .content h3 {
  margin: 0 0 3px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: var(--cor-secundaria);
}

.git1 {
  background-color: var(--cor-secundaria);
  transition: background-color;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.git1:hover {
  background-color: var(--cor-terciaria);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px black;
}

.link1 {
  background-color: var(--cor-secundaria);
  transition: background-color;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.link1:hover {
  background-color: var(--cor-terciaria);
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px black;
}

.containers .card .icon .img {
  width: 100%;
  height: 1px;
  max-width: 100px;
}

.containers {
  padding-right: 20px;
  cursor: pointer;
}

.tituloFundador {
  text-align: center;
  font-family: var(--fonte-primaria);
  color: var(--setima-cor);
}
