.h1 {
  margin-top: 20px;
  text-align: center;
  color: var(--sexta-cor);
  margin-bottom: 25px;
  font-family: var(--fonte-primaria);
}
.drop {
  height: auto;
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

option :houver {
  background-color: var(--cor-secundaria);
}
.campoNome input {
  background-color: var(--cor-terciaria);
  border-radius: 8px;
  width: 250px;
  border: 3px var(--quarta-cor) solid;
}
.campoNome {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.campoNome label {
  color: var(--quarta-cor);
  font-size: 20px;
  margin-right: 8px;
  font-family: var(--fonte-secundaria);
}
.campoE-mail {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.campoE-mail input {
  background-color: var(--cor-secundaria);
  border-radius: 8px;
  color: var(--quinta-cor);
  margin-top: 10px;
  width: 250px;
  border: 3px var(--quarta-cor) solid;
}
.campoE-mail label {
  color: var(--cor-primaria);
  font-size: 20px;
  margin-right: 8px;
  margin-top: 10px;
}
fieldset {
  margin: auto;
}
.campoNome,
.campoE-mail {
  margin: auto;
}
form {
  margin: 130px;
}
.msg {
  font-size: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.msg textarea {
  color: var(--quinta-cor);
  width: 250px;
}
.msg label {
  color: var(--quarta-cor);
  margin-right: 12px;
  font-family: var(--fonte-primaria);
}
.botão {
  background-color: var(--cor-secundaria);
  margin-top: 10px;
  float: right;
  border-radius: 8px;
  color: var(--quarta-cor);
  margin-bottom: 10px;
}

.containerFaleConosco {
  width: 50%;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-secundaria);
  border-radius: 100px;
  box-shadow: 0px 4px 16px 8px rgba(255, 255, 255, 0.3);
}

.img img {
  width: 200px;
  height: auto;
}
.img1 img {
  width: 200px;
  height: auto;
  margin-right: 47px;
}
.msg textarea {
  background-color: var(--setima-cor);
  border: 3px solid var(--quarta-cor);
  box-shadow: var(--setima-cor);
  border-radius: 8px;
}
.botão:hover {
  background-color: var(--setima-cor);
}
.campoNome input,
.campoE-mail input {
  background-color: var(--setima-cor);
  border-radius: 8px;
  color: var(--quarta-cor);
  width: 250px;
  padding: 8px;
}

.campoNome label,
.campoE-mail label {
  color: var(--quarta-cor);
  font-size: 20px;
  margin-right: 8px;
  margin-top: 10px;
  font-family: var(--fonte-primaria);
}
.drop .form-select {
  width: 30%;
  margin: auto;
  background-color: var(--cor-primaria);
  color: var(--setima-cor);
  border-radius: 8px;
  padding: 8px;
}
